<!DOCTYPE html>

<html lang="pl">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="robots" content="index,follow"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"/>

		<style>{{source('assets/css/global.css', ignore_missing = true)}}</style>

		{# <link rel="stylesheet" href="{{theme.path}}/assets/css/global.css"> #}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		{% include 'components/seo.twig' %}

		{{function('wp_head')}}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

	</head>

	<body class="{{body_class}}">

		{% block header %}
			{% include 'layout/header.twig' %}
		{% endblock %}

		{% block body %}
			<p>Block body placeholder</p>
		{% endblock %}

		{% block footer %}
			{% include 'layout/footer.twig' %}
		{% endblock %}

		{% block aside %}
			{% include 'components/modal/modal-contact-form.twig' with { 'modal_name' : 'contact-form' } %}
			{% include 'components/modal/modal-newsletter-signin.twig' with { 'modal_name' : 'newsletter-signin' } %}
		{% endblock %}

		{{ function('wp_footer') }}

	</body>

	{% block css_footer_stylesheets %}
		{% include 'partials/_css.twig' %}
	{% endblock %}

</html>
